<% provide(:title, "Profile") %>
<script>
var count = 0;

//画像を配列に保存
var img = new Array();
img[0] = new Image();
img[0].src = "<%= asset_path "travel1.jpg"%>";
img[1] = new Image();
img[1].src = "<%= asset_path "runner.JPG" %>";
img[2] = new Image();
img[2].src = "<%= asset_path "friends.JPG"%>";
img[3] = new Image();
img[3].src = "<%= asset_path "inu.jpg" %>";

var text = new Array();
text[0] = "<strong>旅行</strong>が好きです。<br><br>国内外、単独複数問わず、旅行に行きます。<br>旅番組に影響されてヒッチハイク等もしました。<br><br>画像はマレーシアの離島、コタキナバルにて";
text[1] = "<strong>体</strong>を動かすことが好きです。<br><br>社会人になり運動不足を感じるため、<br>積極的に体を動かしています。<br><br>画像は「NIPPON IT チャリティ駅伝」に<br>会社の若手チームとして参加したときのもの";
text[2] = "<strong>ゲーム（eSports）</strong>が好きです。<br><br>Enemy Territoryという競技性の高い、<br>フリーゲームを長年やっていました。<br>日本代表やアジア代表にも選抜されました。<br><br>画像はゲームで出来た友人<br>恒例となっているスノーボードにて";
text[3] = "<strong>動物</strong>が好きです。<br><br>動物の中でも犬が大好きで、<br>柴犬が一番のお気に入りです。<br>しかし、犬・猫アレルギーを持っているため触れません。<br><br>画像は町中で撮らせていただいたワンちゃん";

function right(){
 count = count + 1;
 if (count >= 4){
   count = 0
 }
 showing();
}

function left(){
  count = count - 1;
  if (count <= -1){
    count = 3
  }
  showing();
}

function showing() {
  document.getElementById("changeimage").src= img[count].src;
  document.getElementById("message").innerHTML = text[count];
}

</script>
    <h1>Profile</h1>
      <h4>
        Greeting
      </h4>
      <div class="row" align="center" width="1170" height="200">
        <div class="col-md-5 col-md-offset-2">
          <div align="left">
            <br>
            こんにちは、<strong>エンジニア</strong>への転職を目指している林宏樹です。
            <br>今回HTML・CSSの練習としてRuby on Rails Tutorialに、
            <br>簡単なプロフィールを作成しました。
            <br>
            <br>専攻学科：政治経済学部政治経済学科
            <br>卒業論文：千葉卓三郎の私議憲法
            <br>所持資格：Oracle Certified Java Programmer, Silver SE
          </div>
        </div>
        <div class="col-md-1">
          <%= image_tag("profile_2.png", alt: "Profile",
          :size => "200x200" ) %>
        </div>
      </div>
      <h4>
        About Me
      </h4>
      <div>
        <table class="profile table-bordered">
          <thead>
            <tr class="profile">
              <th>
                画像
              </th>
              <th>
                詳細
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="profile">
                <img id="changeimage" src="<%= asset_path "travel1.jpg" %>" alt="image" width="100%" height="100%" />
              </td>
              <td class="profile">
                <div id="message">
                  <strong>旅行</strong>が好きです。<br><br>国内外、単独複数問わず、旅行に行きます。<br>旅番組に影響されてヒッチハイク等もしました。<br><br>画像はマレーシアの離島、コタキナバルにて
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4>
      <button type="button" class="btn btn-default btn-xs" onclick="left()">◀</button>
      <button type="button" class="btn btn-default btn-xs" onclick="right()">▶</button>
      </h4>
      <h4>
        Presentation
      </h4>
        <div class="row" align="center">
            <iframe src="https://www.slideshare.net/slideshow/embed_code/key/92zlTppuQ1wNV2" width="510" height="420" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border-width: 1px; margin-bottom: 1px; max-width: 100%;" allowfullscreen>　</iframe>
            <iframe src="https://www.slideshare.net/slideshow/embed_code/key/4Zci9oGxwtZUkU" width="510" height="420" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border-width: 1px; margin-bottom: 1px; max-width: 100%;" allowfullscreen>　</iframe>
        </div>
      <h4>
        Link
      </h4>
      <center>
        <a href="https://www.wantedly.com/users/25301462" target="_blank"><img src="<%= asset_path "wantedly_icon.png" %>" alt="wantedly" width="100" height="100"></a>
        <a href="http://ec2-52-73-145-239.compute-1.amazonaws.com/wordpress/" target="_blank"><img src="<%= asset_path "wordpress_icon.png" %>" alt="wordpress"  width="150" height="150"></a>
        <a href="mailto:h.hayashi0609@gmail.com"><img src="<%= asset_path "email_icon.png" %>" alt="email"  width="100" height="100"></a>
        </center>
      <br>
      <br>